* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-image: linear-gradient(rgb(216, 243, 243),rgb(241, 219, 222),rgb(237, 247, 244));
  color: #333;
}

.app-container{
 height: 100vh;
}


.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2c3e50;
  padding: 0.5px 30px;
  color: #fff;
  z-index: 1000;
}

.logo{
  width: 150px;
  height: 100px;
}

.header button,.sidebar button {
  background: #3498db;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 15px;
}


.header button:hover ,.sidebar button:hover{
  background: #2980b9;
}

.background{
  height: 100vh;
  width: 100vw;
  margin-top: 50px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(5, 5, 5, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 30%;
  background: rgb(240, 237, 237);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(180, 178, 178, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal input {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
}

.modal button {
  background-image: linear-gradient(rgb(0, 119, 255),rgba(182, 248, 221, 0.929));
  color: white;
  font-size: 1;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin: 0.5rem;
}

.modal button:hover {
  background: rgb(3, 149, 240);
}


.dashboard-container {
  display: flex;
  height: 100vh;
  padding-top: 6rem;
}

.sidebar {
  width: 250px;
  padding: 20px;
  background-color: #34495e;
  color: wheat;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.sidebar h3 {
  font-size: 25px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}


.sidebar label {
  display: block;
  font-size: 15px;
  margin-bottom: 20px;
  color: white;
}

.sidebar select,
.sidebar input[type="date"] {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
}

canvas {
  cursor:zoom-in;
  transition: cursor 0.2s ease-in-out;
}

canvas:active {
  cursor: zoom-out;

}

.charts:hover {
  cursor: default; 
}

.charts {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}


.chart {
  flex: 1;
  min-width: 300px;
  max-width: 100%;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  height: 400px;
  box-sizing: border-box;
}
.chart canvas {
  width: 100% !important;
  height: 100% !important;
}


@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    margin-right: 0;
  }
}

.content {
  flex: 1;
  padding: 20px;
}

.charts {
  display: flex;
  gap: 20px;
}

.chart {
  flex: 1;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


@media (max-width: 900px) {
  .dashboard-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .sidebar ul {
    display: flex;
    justify-content: space-around;
  }

  .charts {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .header button{
    width: 100%;
    margin-top: 10px;
  }

  .filters {
    flex-direction: column;
  }

  .modal {
    width: 90%;
    padding: 1rem;
  }
}
